{% import "snippets.twig" as snippets %}
{% import "functions.twig" as functions %}

<article id="{{ post.id|e('esc_html') }}" class="">
  <div class="uk-card uk-background-muted uk-card-body uk-card-small uk-text-center">
    
    {# tease thumbnail #}
    {% if post.thumbnail %}
      <div class="uk-width-1-1 uk-margin-small-bottom">
        <a class="uk-link-heading" href="{{ post.link|e('esc_url') }}">
          <img src="{{ post.thumbnail.src|resize(800, 500, 'center')|e('esc_html') }}" width="800" height="500" alt="{{ post.thumbnail.alt|e('esc_html') }}">
        </a>
      </div>
    {% endif %}
    
    {# tease metas: author & date #}
    <div class="article-meta uk-text-meta uk-margin-small-bottom uk-text-small">
      
      <span class="post-author">
        <a href="{{ post.author.link|e('esc_url') }}">
          {{ post.author|e('esc_html') }}
        </a>
      </span>
      
      {% if post.date %}
        <time class="post-date">
          {{ post.date|date('j F Y')|e('esc_html') }}
        </time>
      {% endif %}
      
    </div>
    
    {# tease title #}
    <h3 class="uk-card-ttitle uk-h5 uk-text-boldest uk-margin-small-bottom">
      <a class="uk-link-heading" href="{{ post.link|e('esc_url') }}">{{ post.title|e('esc_html') }}</a>
    </h3>
    
    {# tease content #}
    {% if not fn('post_password_required', post.id) %}
      <div class="post-tease-content">
        
        {# post preview #}
        <p class="uk-text-small uk-margin-small-top">{{ post.preview.length(12).force.read_more('')|e('esc_html') }}</p>
        
        {# post link #}
        <a href="{{ post.link|e('esc_url') }}" class="uk-button uk-button-default uk-button-small uk-text-capitalize">{{ snippets.read_more() }}</a>
        
      </div>
    {% else %}
      <div class="password-protected-form-tease">
        {{ functions.password_protected_form(context, {small:true}) }}
      </div>
    {% endif %}
    
  </div>
</article>