{% extends 'base.twig' %}

{% import "snippets.twig" as snippets %}
{% import "functions.twig" as functions %}

{% block styles %}
  {{ parent() }}
  <link rel='stylesheet' href='{{theme.link}}/assets/css/editor.css' type='text/css' media='all' />
{% endblock %}

{% block main %}
  <article id="{{ post.id|e('esc_html') }}" class="{{ post.class|e('esc_html') }}">

    {# single header #}
    {% block single_header %}
      {% include '_single-header.twig' %}
    {% endblock %}
    
    {% block single_content_wrap %}
      <div class="uk-section">
      
        {# single content #}
        {% block single_content %}
          <section class="article-content">
            {% if not fn('post_password_required', post.id) %}
              <div class="post-content article-content-editor gutenberg-editor">
                {{ post.content }}
              </div>
            {% else %}
              <div class="password-protected-form uk-container uk-container-xsmall uk-margin-medium-bottom">
                {{ functions.password_protected_form(context) }}
              </div>
            {% endif %}
          </section>
        {% endblock %}
        
        {# single footer #}
        {% block single_footer %}
          {% if not fn('post_password_required', post.id) %}
            <footer class="article-footer uk-container uk-container-small">
                  
              {% block single_share %}
                {% include '_single-share.twig' %}
              {% endblock %}

              {% block single_pagination %}
                {% include '_single-pagination.twig' %}
              {% endblock %}

              {% block single_comments %}
                {% include '_single-comments.twig' %}
              {% endblock %}
              
            </footer>
          {% endif %}
        {% endblock %}
      
      </div>
    {% endblock %}
  
  </article>
{% endblock %}

{% block scripts %}
  <script type='text/javascript'>
    window.onload = function() {
      var element = document.getElementById("SiteHeader");
      let computedStyle = getComputedStyle(element);
      var height = computedStyle.height;
      document.getElementById("PageHeaderWrap").style.marginTop = height;
    }
  </script>
{% endblock %}