<div id="{{ post.id }}" class="product-item uk-text-center">
  
  {# term image #}
  <a href="{{ post.link }}" class="uk-inline-clip uk-transition-toggle" tabindex="0">
    <img class="uk-transition-scale-up uk-transition-opaque" src="{{ post.thumbnail.src }}" alt="">
  </a>
  
  {# term heading #}
  <h3 class="uk-margin-small-top uk-h5">
    <a class="uk-link-heading" href="{{ post.link }}">{{ post.name }}</a>
  </h3>
  
</div>