{% import "snippets.twig" as snippets %}

{# footer #}
<footer id="SiteFooter">
  
  {# footer top: dark bg #}
  {% if sidebar_footer_left or sidebar_footer_center or sidebar_footer_right %}
    <div class="footer-top uk-light uk-background-cover" style="background-image: url({{theme.link}}/assets/img/background-footer.jpg);">
      <div class="uk-overlay uk-overlay-primary">
        <div class="uk-container uk-section">
          <div uk-grid>
            
            {# footer top: col 1 #}
            {% if sidebar_footer_left %}
              <div class="uk-width-1-4@m">
                {{ sidebar_footer_left }}
              </div>
            {% else %}
              <!-- <span class="uk-text-small">about</span>
              <h3 class="uk-margin-remove uk-text-capitalize uk-h4 uk-text-primary">{{ site.title|e('esc_html') }}</h3>
              <p class="uk-margin-small-top uk-text-meta">{{ site.description|e('esc_html') }}</p>
              <ul class="uk-list uk-list-collapse">
                <li>+353 44 93458840</li>
                <li>info@loadingdock.ie</li>
              </ul> -->
            {% endif %}
            
            {# footer top: col 2 #}
            {% if sidebar_footer_center %}
              <div class="uk-width-1-2@m">
                {{ sidebar_footer_center }}
              </div>
            {% else %}
              <!-- <span class="uk-text-small">locations</span>
              <h3 class="uk-margin-remove uk-text-capitalize uk-h4 uk-text-primary">We Are Everywhere</h3>
              <div class="uk-grid-small uk-flex uk-flex-top" uk-grid>
                <div class="uk-width-1-1 uk-width-auto@m">
                  <img class="uk-margin-top" src="{{theme.link}}/assets/img/world-dot-map-white.png" alt="" title="">
                </div>
                <div class="uk-width-1-1 uk-width-expand@m">
                  <div class="uk-text-small uk-margin-small-top uk-margin-small-left">industrial</div>
                  <ul class="uk-margin-small-left uk-list uk-list-collapse">
                    <li>+353 44 9345884</li>
                    <li>www.industrialdoors.ie</li>
                    <li>operations@serchek.com</li>
                  </ul>
                </div>
              </div> -->
            {% endif %}
            
            {# footer top: col 3 #}
            {% if sidebar_footer_right %}
              <div class="uk-width-1-4@m">
                {{ sidebar_footer_right }}
              </div>
            {% else %}
              <!-- <span class="uk-text-small">get in touch</span>
              <h3 class="uk-margin-remove uk-text-capitalize uk-h4 uk-text-primary">Find us</h3>
              <div class="uk-margin-top">
                <ul class="social social__follow">
                  <li class="social--item">
                    <a href="#" target="_blank" title="" id="">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="social--item">
                    <a href="#" target="_blank" title="" id="">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                  <li class="social--item">
                    <a href="#" target="_blank" title="" id="">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="social--item">
                    <a href="#" target="_blank" title="" id="">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div> -->
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  
  {# footer bottom: white #}
  <div class="footer-bottom uk-background-default uk-container">
    
    {# footer bottom: col 1, 2 & 3 #}
    {% if has_menu_footer_one or has_menu_footer_two or has_menu_footer_three %}
      <div class="uk-section uk-section-large">
        <div class="uk-child-width-1-3@m" uk-grid>
          
          {# footer bottom: col 1 #}
          <div>
            {% if has_menu_footer_one %}
              <h4 class="uk-margin-small-bottom">{{ menu_footer_one_title|e('esc_html') }}</h4>
              <hr class="uk-divider-small uk-margin-small-top">
              <ul class="uk-list">
                {% for item in menu_footer_one.get_items %}
                  <li class="theme-border-bottom uk-link-text {{ item.classes|join(' ')|e('esc_html') }}">
                    <a href="{{ item.link|e('esc_html') }}">{{ item.title|e('esc_html') }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
             *Footer One Menu
            {% endif %}
          </div>
          
          {# footer bottom: col 2 #}
          <div>
            {% if has_menu_footer_two %}
              <h4 class="uk-margin-small-bottom">{{ menu_footer_two_title|e('esc_html') }}</h4>
              <hr class="uk-divider-small uk-margin-small-top">
              <ul class="uk-list">
                {% for item in menu_footer_two.get_items %}
                  <li class="theme-border-bottom uk-link-text {{ item.classes|join(' ')|e('esc_html') }}">
                    <a href="{{ item.link|e('esc_html') }}">{{ item.title|e('esc_html') }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              *Footer Two Menu
            {% endif %}
          </div>
          
          {# footer bottom: col 3 #}
          <div>
            {% if has_menu_footer_three %}
              <h4 class="uk-margin-small-bottom">{{ menu_footer_three_title|e('esc_html') }}</h4>
              <hr class="uk-divider-small uk-margin-small-top">
              {% for item in menu_footer_three.get_items %}
                <a href="{{ item.link|e('esc_html') }}" class="uk-button uk-button-small uk-button-primary {{ item.classes|join(' ')|e('esc_html') }}">{{ item.title|e('esc_html') }}</a>
              {% endfor %}
            {% else %}
              *Footer Three Menu
            {% endif %}
          </div>
          
        </div>
      </div>
      <hr>
    {% endif %}
    
    {# footer bottom: bottom #}
    <div class="footer-bottom-bottom uk-section uk-section-xsmall uk-text-bold uk-text-small">
      
      <div uk-grid>
      
        {# footer copyright #}
        <div class="uk-width-1-1 uk-width-expand@m uk-flex uk-flex-center uk-flex-left@m">
          {{ snippets.copy_text() }}
        </div>
      
        {# footer copyright #}
        <div class="uk-width-1-1 uk-width-auto@m uk-flex uk-flex-center uk-flex-left@m">
          {% if has_menu_footer_four %}
            <ul class="uk-subnav uk-subnav-divider">
              {% for item in menu_footer_four.get_items %}
                <li class="uk-active {{ item.classes|join(' ')|e('esc_html') }}">
                  <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            *Footer Four Menu
          {% endif %}
        </div>
      
      </div>
    
    </div>
    
  </div>
  
</footer>